# Agenda 
    OOP Examples 
    New info about OOP
    Inheritance in oop 
    Examples on python

In [18]:
class Dog:
    #class attribute 
    n_dog = 0
    def __init__(self , name , age):
        #instance attribute 
        self.__name = name 
        self.__age  = age
        Dog.n_dog += 1
    #instance method
    def speak(self):
        return f"my name is {self.__name} and my age is {self.__age}"
    #class method
    @classmethod
    def nofdog(cls):
        return f"number of Dogs= {cls.n_dog}"
    #static method
    @staticmethod
    def time(distance , speed):
        return f"time = {distance/speed}"

In [19]:
d1 = Dog("jack" , 2)

In [20]:
# d1._Dog__name

In [21]:
# d1._Dog__age

In [22]:
d1.speak()

'my name is jack and my age is 2'

In [23]:
d2 = Dog("jack2" , 3)
d3 = Dog("jack3" , 4)

In [24]:
print(d1.speak())
print(d2.speak())
print(d3.speak())

my name is jack and my age is 2
my name is jack2 and my age is 3
my name is jack3 and my age is 4

In [25]:
Dog.nofdog()

'number of Dogs= 3'

In [27]:
d1.time(20,5)

'time = 4.0'

In [85]:
class ShoppingCart:
                             
    def __init__(self):
        self.items = []     #[("apple" , 50) ,("orange" , 20) , ("k" , 40) ]
    #instance method
    def add_item(self ,item , price):
        if isinstance(item , str):
            self.items.append((item , price))
            print(f"Done! number of item/s is {len(self.items)}")
        else:
            print(f"please check your item! {item}")

    
    #instance method
    def remove_item(self , item):
        l = len(self.items)
        for i in self.items:
            if i[0] ==   item:
                self.items.remove(i)
        if l != len(self.items):
            print(f"Done! number of item/s is {len(self.items)}")
        else:
            print("Check Again!")
    #instance method
    def total_price(self):
        s = 0 
        for i in self.items:
            s += i[1] 
        return f"total_price = {s} "
    def info(self):
        for i in self.items:
            print(f"item name: {i[0]} , price: {i[1]}")

In [87]:
person1 = ShoppingCart()
person1.add_item("orange" , 20)

Done! number of item/s is 1

In [73]:
person1.add_item("apple" , 50)

Done! number of item/s is 2

In [74]:
person1.add_item("k" , 40)

Done! number of item/s is 3

In [75]:
person1.remove_item("orange")

Check Again!

In [76]:
person1.total_price()

'total_price = 110 '

In [77]:
person1.info()

item name: 2 , price: 20
item name: apple , price: 50
item name: k , price: 40

In [84]:
if isinstance(1 , str):
    print(True)
else:
    print(False)

False

In [88]:
# parent
class Person:
    def __init__(self , name , age ):
        self.name = name 
        self.age = age
        
    #instance method
    def info(self):
        return f"my name is {self.name} and my age is {self.age}"

In [89]:
p1 = Person("Mohamed" , 30)

In [90]:
p1.info()

'my name is Mohamed and my age is 30'

In [117]:
# child
class Students(Person):
    def __init__(self , name ,age , n_courses ):
        self.n_courses = n_courses
        Person.__init__(self , name , age )
    def info(self):
        return f"my name is {self.name} and my age is {self.age} , and number of courses is {self.n_courses} "

In [119]:
s1 = Students("Ahmed" , 20  , 5)

In [120]:
p1.info()

'my name is Mohamed and my age is 30'

In [121]:
s1.info()

'my name is Ahmed and my age is 20 , and number of courses is 5 '

In [122]:
# magic method in oop

In [164]:
class Employee:
    def __init__(self , fname , lname , salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
    def __str__(self):
        return f"Full Name: {self.fname} {self.lname}"
    def __int__(self):
        return self.salary
    def __add__(self , other):
        return self.salary + other.salary
    def __mul__(self , other):
        return self.salary * other.salary
    def __len__(self):
        return len(self.fname + self.lname)

In [165]:
mohamed = Employee("Mohamed" , "Sayed" , 10000)
ahmed   = Employee("Ahmed" , "Salem" , 15000)

In [166]:
print(mohamed)
print(ahmed)

Full Name: Mohamed Sayed
Full Name: Ahmed Salem

In [167]:
str(mohamed)

'Full Name: Mohamed Sayed'

In [168]:
str(ahmed)

'Full Name: Ahmed Salem'

In [169]:
print(int(ahmed))

15000

In [170]:
print(ahmed + mohamed)

25000

In [171]:
print(ahmed * mohamed)

150000000

In [172]:
print(len(ahmed))

10

In [203]:
class MyList:
    def __init__(self):
        self.data = []
    def append(self , item):
        self.data.append(item)
    def __getitem__(self , index):
        return self.data[index]
    def __setitem__(self ,index , value ):
        self.data[index] = value
    def __len__(self):
        return len(self.data)

In [204]:
lst1 = MyList()
lst1.append(10)
lst1.append(12)

In [205]:
lst1.data

[10, 12]

In [206]:
lst1[1] = 100

In [207]:
lst1[1]

100

In [208]:
print(len(lst1))

2

In [209]:
lst = list()

In [211]:
lst.append(12)

In [212]:
lst

[12]

In [213]:
len(lst)

1

In [ ]:
class BankAccount:
    n_account ??
            #instance attribute 
             self.name 
             self.balance = balance
                
    #instance method
    deposit(self , amount)  
    withdraw(self , amount)   
    get_balance(self)
    
    
1 >> create new account
2 >> login

1 (username , password) , full_name , balance 

    1 >> deposit(self , amount)  
    2 >> withdraw(self , amount)   
    3 >> get_balance(self)
    4 >> logout
    
       4 logout >> 
           1 >> create new account
           2 >> login