# Agenda 

    Loops  
        for loop and while loop 
               > break 
               > continue 
               > pass 

    Functions
        built-in , user defined  
    
    Scopes
        > local 
        > nonlocal
        > global 
        
    Try &Except

    FileHandling
        
    Pre-built & User DefinedModules

### Write a program that prompts a user for a two-word string andprints True if both words begin with same letter
    ○ ('Levelheaded Llama') --> True
    ○ ('Crazy Kangaroo') --> False

In [ ]:
words = "Amit Learning"  >> False  words = "Amit Amit"  >> True 

if conditions:
    print(True)
    
else:
    print(False)
lst[0][0]

In [13]:
words = input("Enter 2 words: ").lower().split()
if len(words) >= 2 :
    if words[0][0] == words[1][0] :
        print(True)
    else:
        print(False)
else:
    print("check your input ")

Enter 2 words: amit amit s
True

In [14]:
lst = [1,2,3,4,5]

for i in lst :
    print(i)

1
2
3
4
5

In [15]:
for i , v in enumerate(lst):
    print(i , v )

0 1
1 2
2 3
3 4
4 5

In [16]:
lst = [2,3,4,5]
lst * 2

[2, 3, 4, 5, 2, 3, 4, 5]

In [18]:
l = []
for i in lst :
    l.append(i * 2)

In [19]:
l

[4, 6, 8, 10]

In [20]:
[i * 2 for i in lst ]

[4, 6, 8, 10]

In [21]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst :
    if i % 2 == 0 :
        print("Even")
    else:
        print("odd")

odd
Even
odd
Even
odd
Even
odd
Even
odd

In [22]:
["even" if i % 2 == 0 else "odd"  for i in lst ]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [26]:
num = int(input("enter your num "))
x = "even" if num % 2 == 0 else "odd"

enter your num 10

In [27]:
x

'even'

In [ ]:
# if 10 % 2 == 0:
#     print("even")
# else:
#     print("odd")

In [62]:
lst = [(20,30,40 , 50) ,(20,30,40)  , (20,30,40)]

# [(20,30,100) ,(20,30,100)  , (20,30,100)]

In [63]:
[i[0:(len(i)-1)]+(100,) for i in lst ]

[(20, 30, 40, 100), (20, 30, 100), (20, 30, 100)]

In [30]:
for i in lst :
    print(i)

(20, 30, 40)
(20, 30, 40)
(20, 30, 40)

In [38]:
t = (10,20,30)

In [43]:
t = t + (30,)

In [41]:
t2 = (30,)

In [42]:
type(t2)

tuple

In [59]:
for i in lst :
    r = list(i)
    r[-1] = 100
    t = tuple(r)
    print(t)

(20, 30, 100)
(20, 30, 100)
(20, 30, 100)

In [49]:
l = [1,2,3]
l[-1] = 100

In [50]:
l

[1, 2, 100]

In [52]:
t = (1,2,3)
t[-1] = 100

TypeError: 'tuple' object does not support item assignment

In [72]:
# Remove the illegal characters in the variable name:
illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?`~ "
text = input("enter your variable name: ")
clean_text = ''
for i in text :
    if i not in illegal_chars:
        clean_text += i
    else:
        clean_text += ''

enter your variable name: @amit@

In [73]:
print(clean_text)

amit

In [80]:
clean = "".join( i  if i not in illegal_chars else '' for i in text ) # @amit@

In [81]:
clean

'amit'

In [83]:
"".join(i  if i not in illegal_chars else '' for i in text)

'amit'

In [87]:
for i in text :
    print(i)

@
a
m
i
t
@

In [85]:
"@" in text

True

In [86]:
text

'@amit@'

In [91]:
lst = [1,2,3,5,6,7,8,9]
for i in lst :
    if i == 5 : #  1 == 5 > False , 2 == 5 > False  3 == 5 > False  , 5 == 5 > True 
        break   #stop for loop 
        print(i)
    else:
        print(i)  #  i > 1 , i > 2 , i > 3

1
2
3

In [92]:
lst = [1,2,3,5,6,7,8,9]
for i in lst :
    if i == 5 : #  1 == 5 > False , 2 == 5 > False  3 == 5 > False  , 5 == 5 > True 
        continue   
        print(i)
    else:
        print(i)  #  i > 1 , i > 2 , i > 3

1
2
3
6
7
8
9

In [111]:
lst = [1,2,3,5,6,7,8,9]
for i in lst :
    if i == 5 : #  1 == 5 > False , 2 == 5 > False  3 == 5 > False  , 5 == 5 > True 
        pass   
        print(i)
    else:
        print(i)  #  i > 1 , i > 2 , i > 3

1
2
3
5
6
7
8
9

In [97]:
if 5 == 5 :
    pass
else:
    print("amit")

In [103]:
for i in lst :
    print(i)

1
2
3
5
6
7
8
9

In [106]:
class Cars:
    pass

In [ ]:
while condition :
    statements
    .....
    ....
    counter += 1

In [112]:
x = 1
while x <= 10:
    print(x , " amit")
    x += 1

1  amit
2  amit
3  amit
4  amit
5  amit
6  amit
7  amit
8  amit
9  amit
10  amit

In [113]:
# Functions
#     built-in , user defined
x = 10

In [114]:
type(x)

int

In [115]:
lst

[1, 2, 3, 5, 6, 7, 8, 9]

In [116]:
len(lst)

8

In [117]:
max(lst)

9

In [118]:
min(lst)

1

In [119]:
sum(lst)

41

In [120]:
add(lst)

NameError: name 'add' is not defined

In [121]:
# def fun_name(arg1 ,arg2 ):
#     statements
#     ......
#     ......
#     .....
#     .....
#     ......
#     return x ,x2 ,x3 
# fun_name(arg1 , arg2)

In [122]:
def add(n1 ,n2):
    s = n1 + n2
    return s

In [123]:
add(10 ,10 )

20

In [124]:
add(20,20)

40

In [125]:
add(100 ,100)

200

In [127]:
add(10,10,10)

TypeError: add() takes 2 positional arguments but 3 were given

In [130]:
def add(*n):
    s = 0 
    for i in n :
        s+= i
    return s

In [131]:
add(10,10,10,10,20)

60

In [132]:
add(10,10)

20

In [133]:
add(10,2,3,4,5,6,7,8,9,0,10,1,2,3,4)

74

In [134]:
def add(*n):
    return sum(n)

In [135]:
add(1,2,3,4,5,6,7)

28

In [137]:
# check()
# int(input("enter your num "))

In [141]:
def check():
    num = int(input("enter your num "))
    if num % 2 == 0 :
        return "Even"
    else:
        return "Odd"
x = check()

enter your num 12

In [142]:
x

'Even'

In [143]:
def check():
    num = int(input("enter your num "))
    if num % 2 == 0 :
        print( "Even" )
    else:
        print("Odd")

In [145]:
x = check()

enter your num 23
Odd

In [147]:
x

In [148]:
z = lambda x : x * 2

In [151]:
def add(n1 ,n2 ):
    return n1 + n2 
add(10,10)

20

In [152]:
add = lambda n1 ,n2 : n1 + n2 
add(10,10)

20

In [149]:
z(12)

24

In [150]:
z(2)

4

In [154]:
# list(filter(fun , seq))
list(filter(lambda x : x % 2 == 0  , [1,2,3,4,5,6]))

[2, 4, 6]

In [169]:
def check(n):
    if n % 2 != 0 :
        return True 
    else:
        return False

In [170]:
# list(filter(fun , seq))
list(filter(check , lst))

[1, 3, 5, 7, 9]

In [171]:
lst

[1, 2, 3, 5, 6, 7, 8, 9]

In [172]:
# list(map(fun , seq))
list(map(check , lst))

[True, False, True, True, False, True, False, True]

In [162]:
def mult(n):
    return  n ** 2

In [165]:
list(map(mult , lst))

[1, 4, 9, 25, 36, 49, 64, 81]

In [166]:
list(map(lambda x : x **2  , lst))

[1, 4, 9, 25, 36, 49, 64, 81]

In [173]:
# Recursive Function
# 5! = 5 * 4 * 3 * 2 * 1 
def f(n):
    if n == 1 :
        return 1 
    else:
        return n * f(n-1)    # (5 * f(4)(4 * f(3 )(3 * f(2)(2 * f(1)(1))))

In [176]:
f(3)  # 3 * 2 * 1

6

In [177]:
if 1 in lst:
    print(1)

1

In [178]:
for i in lst :
    print(i)

1
2
3
5
6
7
8
9

In [179]:
def add(n1 ,n2):
    return n1 +n2

In [180]:
x = "global"
def outer():
    x = "local"
    print(x)
outer()
print(x)

local
global

In [181]:
x = "global"
def outer():
    global x 
    x = "local"
    print(x)
outer()
print(x)

local
local

In [182]:
x = "global"
def outer():
    x = "local"
    def inner():
        x = "inner"
        print(x)
    inner()
    print(x)
outer()
print(x)

inner
local
global

In [183]:
x = "global"
def outer():
    x = "local"
    def inner():
        nonlocal x 
        x = "inner"
        print(x)
    inner()
    print(x)
outer()
print(x)

inner
inner
global

In [184]:
x = "global"
def outer():
    x = "local"
    def inner():
        global x 
        x = "inner"
        print(x)
    inner()
    print(x)
outer()
print(x)

inner
local
inner

In [185]:
lst

[1, 2, 3, 5, 6, 7, 8, 9]

In [188]:
lst.remove(10)
lst.append(10)

ValueError: list.remove(x): x not in list

In [190]:
x = 10
try:
    lst.remove(x)
except:
    print(f"list.remove({x}): {x} not in list")
    
lst.append(20)

list.remove(10): 10 not in list

In [191]:
lst

[1, 2, 3, 5, 6, 7, 8, 9, 20]

In [195]:
try:
    print(x)
except:
    print("error")
else:
    print("Good")
finally:
    print("try, except work")

10
Good
try, except work

In [208]:
try:
    x = 10 / mm  # This will raise a ZeroDivisionError
# except ZeroDivisionError:
#     print("Error: Division by zero occurred.")
except Exception as e:
    print("An error occurred:", e)
else:
    print("No exception occurred.")
finally:
    print("This block is always executed.")

An error occurred: name 'mm' is not defined
This block is always executed.