In [30]:
# Agenda 
#     file handling 
#     OOP

In [32]:
# How to add two matrices (X and Y) and save the output in variable name "result"?

X = [[12,7,3],[4 ,5,6],[7 ,8,9]]

Y = [[5,8,1],[6,7,3],[4,5,9]]

result = [[0,0,0],[0,0,0],[0,0,0]]

In [39]:
for i in range(len(Y)):   #i = 0 , 1  , 2 
    for j in range(len(X[0])):  #i = 0 , j = 0 , 1  , 2  , i = 1 , j = 0 , 1 , 2  , i = 2 j = 0 ,1 ,2 
        result[i][j]=X[i][j] + Y[i][j]        
for i in result:
    print(i)
# print(result)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [40]:
[[X[i][j] + Y[i][j] for j in range(len(X[0]))] for i in range(len(X))]

[[17, 15, 4], [10, 12, 9], [11, 13, 18]]

In [43]:
X = [[12,7,3],
     [4 ,5,6],
     [7 ,8,9], 
     [3,4,5]]

result =[[0  , 0 , 0 , 0 ],
         [0  , 0 , 0 , 0 ],
         [0  , 0 , 0 , 0 ]]

In [47]:
for i in range(len(X)):   
    for j in range(len(X[0])):  
        result[j][i]=X[i][j] 
        
for i in result:
    print(i)
# print(result)

[12, 4, 7, 3]
[7, 5, 8, 4]
[3, 6, 9, 5]

In [48]:
f = open("test.txt" , "r")
f.read()

'my name is amit'

In [49]:
f.write("my age is 30")

UnsupportedOperation: not writable

In [50]:
f = open("test.txt" , "a")

In [51]:
f.write("\nmy age is 30")

13

In [52]:
f.close()

In [53]:
f = open("test.txt" , "w")

In [54]:
f.write("........")

8

In [55]:
f.close()

In [66]:
f = open("task.txt" , "r")   # read

In [60]:
f = open("task.txt" , "w")  #create new file

In [61]:
f = open("task2.txt" , "a")

In [62]:
f.write("my name is amit")

15

In [63]:
f.close()

In [64]:
f = open("task2.txt" , "a") # create ,append

In [70]:
f = open("task2_2.txt" , "x")

In [77]:
with open("task2.txt" , encoding="utf-8") as f :
    print(f.read())

my name is amit
انا اسمي اميت

In [82]:
f = open("task2.txt" , "r+")

In [83]:
f.read()

'my name is amit'

In [84]:
f.write("\nmy age is 30 ")

14

In [85]:
f.close()

In [86]:
["my name is amit", "my age is 30 "]

['my name is amit', 'my age is 30 ']

In [87]:
x= "amit\n"

In [88]:
x.strip()

'amit'

In [90]:
# Task
# [1,1,1,1,,4,5,6,7,6,5,4,3,2]
# odd >> 1,1,1,5,7,3
# even>> 4,6,4,2
# f.write()

In [96]:
with open("task2.txt" , encoding="utf-8") as f :
    x = f.readlines()

In [97]:
for i in x :
    print(i.strip())

my name is amit
my age is 30

## OOP

In [99]:
class Cars:
    pass

In [100]:
# object 
car1 = Cars()

In [102]:
car2 = Cars()

In [170]:
class Cars:
    #class attribute
    counter = 0
    #Constructor 
    def __init__(self , name , age , color):
        #instance attribute
        self.namee = name
        self.agee  = age
        self.colorr= color
        Cars.counter += 1 
    #instance method 
    def show(self):   
        print(f"Car name is {self.namee} ")
        print(f"Car age is {self.agee}")
        print(f"Car color is {self.colorr}")    
    #class method
    @classmethod
    def number_of_cars(cls):
        print(f"The number of Cars is {cls.counter}")
    #static method
    @staticmethod
    def time(distance , speed):
        return f"time = {distance / speed}"
    
    def __str__(self):
        return f"{self.namee}"

In [171]:
car1 =Cars("BMW" , 4 , "red")
car2 =Cars("FIAT" , 2 , "black")
car3 =Cars("MER" , 15 , "blue")

In [172]:
print(car1)

BMW

In [157]:
car1.show()

Car name is BMW
Car age is 4
Car color is red

In [160]:
car2.show()

Car name is FIAT
Car age is 2
Car color is black

In [161]:
car3.show()

Car name is MER
Car age is 15
Car color is blue

In [162]:
car1.number_of_cars()

The number of Cars is 3

In [163]:
car1.time(1000 , 250)

'time = 4.0'

In [ ]:
# Students 
#         name
#         age
#         address
#         ncourses
#     #instan cemethod
#     info(self):
#     #class attribute
#     nstudents
#     @classmethod
#     n_student(cls):
    
#     @staticmethod
#     score(lst):
#         return sum(lst)

In [184]:
class Cars:
 
    def __init__(self , name , age , color):
        #instance attribute
        self.__namee = name
        self.__agee  = age
        self.__colorr= color
 
    #instance method 
    def show(self):   
        print(f"Car name is {self.__namee} ")
        print(f"Car age is {self.__agee}")
        print(f"Car color is {self.__colorr}")

In [185]:
car1 =Cars("BMW" , 4 , "red")
car2 =Cars("FIAT" , 2 , "black")
car3 =Cars("MER" , 15 , "blue")

In [189]:
car1.__namee = "amit"
car1.__namee

'amit'

In [179]:
car2.agee

2

In [182]:
car1.namee = "amit"

In [190]:
car1.show()

Car name is BMW
Car age is 4
Car color is red

In [191]:
car2.show()

Car name is FIAT
Car age is 2
Car color is black

In [192]:
car2.__namee

AttributeError: 'Cars' object has no attribute '__namee'

In [193]:
lst = [1,2,3]
sum(lst)

6

In [194]:
s = {1,2,3}
sum(s)

6

In [195]:
len(lst)

3

In [196]:
len(s)

3

In [197]:
len("amit")

4

In [ ]:
# task2 
#     class Calc:

# class ShoppingCart:

# items = [("orange" , 40) , ("apple" , 50) ]
# add_item(item , price):    items.append((item,price))  "Done"
# remove_item(item): remove_item("orange") >> items>> [("apple" , 50) ]
# total_price() >> sum(items[i][1])
# info()>> orange 40
#          apple  50